<center>
<h1>Welcome</h1>
<img id="logo" src="https://s3.amazonaws.com/storybookstorage/pencil-logo.png" alt="My Storybook Children's Pencil Logo" style="max-width: 300px">
<p>Create a Own Kids StoryBook<br>
Make your story come to life</p>
{{#if user}}

{{else}}

<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Google</a>
{{/if}}
</center>